/* Global styles */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

/* Task list styles */
#tasks {
    display: flex;
    flex-wrap: wrap;
}

.task {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 20%;
}

/* Form styles */
#add-task-form {
    margin-top: 20px;
    display: flex;
}

#add-task-form input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    flex-grow: 1;
}

#add-task-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
}
